body {
    margin: 0;
    padding: 0;
    background-color: #b9ffff;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS, Arial, sans-serif';
}

.app {
    background-color: aliceblue;
    box-shadow: black;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-top: 50px;
}
input{
    margin: 11px 0;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1.5px solid rgb(255,255,255);
}
.list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
}

.button-container, .info-container {
    display: flex;
    align-items: center;

}

.button-container button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 12px;
    background-color: transparent;

}

.list-item {
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: #b9ffff 1px;
    display: flex;
    justify-content: space-between;
}

.tick {
    padding: 10px;
}

.list-item path {
    fill: none;
    stroke: black;
    stroke-miterlimit: 10;
}

.edit {
    border: 1.5px solid #00c500;
    color: #07a607;
    text-transform: uppercase;
}

.edit:hover {
    background-color: #84e184;
}

.edit:active {
    border: 1.5px solid #00c500;
    color: #ffffff;
    background-color: #00c500;
}

.delete {
    border: 1.5px solid #ec1717;
    color: red;
    text-transform: uppercase;
}

.delete:hover {
    background-color: #f15a5a;
}

.delete:active {
    border: 1.5px solid #ec1717;
    color: #ffffff;
    background-color: #ec1717;
}

.create {
    border: 1.5px solid #4376e5;
    color:  #4376e5;
    text-transform: uppercase;
}

.create:hover {
    background-color: #004fff;
}

.create:active {
    border: 1.5px solid #4376e5;
    color: #ffffff;
    background-color: #4376e5;
}

.sign-out {
    border: 1.5px solid #ec1717;
    color: red;
    text-transform: uppercase;
}

.sign-out:hover {
    background-color: #f15a5a;
}

.sign-out:active {
    border: 1.5px solid #ec1717;
    color: #ffffff;
    background-color: #ec1717;
}
/*Model*/
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(45, 45, 45, 0.09);
    display: flex;
    justify-content: center;
    align-items: center
}
.model{
    width: 500px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.5) 0 6px 24px 0, rgba(0,0,0,0.08) 0 0 0 1px;
}
.model .form-title-container{
    display: flex;
    justify-content: space-between;
}.model .form-title-container button{
    border: none;
    background-color: transparent;
}.model .form-title-container button:active{
    color: red;
}
 .model form{
     display: flex;
     flex-direction: column;
 } .model label{
     font-size: 13px;
 }